.ausPackageHero {
  width: 981px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/tour/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .phTitle {
    color: white;
    font-size: 80px;
    font-family: Proxima;
    height: 98px;
    margin: 30px;
  }
  .vary {
    color: white;
    font-size: 30px;
    font-family: Proxima;
    width: 100%;
    text-align: right;
  }
}

.ausTourImages {
  width: 981px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
  .auImage1 {
    @include tour-image-format;
    background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
  }
  .auImage2 {
    @include tour-image-format;
    background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
  }
  .auImage3 {
    @include tour-image-format;
    background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
  }
}

@media screen and (max-width: 1000px) {
  .ausTourImages {
    width: 90%;
    flex-direction: column;
    .auImage1 {
      height: 250px;
      margin-bottom: 20px;
    }
    .auImage2 {
      height: 250px;
      margin-bottom: 20px;
    }
    .auImage3 {
      height: 250px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .ausPackageHero {
    width: 90%;
  }
}
